<div id="<%= dom_id reminder %>">
  <p>
    <strong>Name:</strong>
    <%= reminder.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reminder.description %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= reminder.due_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reminder.status %>
  </p>

</div>
